

@media screen and (max-width: 748px) {
  header nav {
    display: none;
  }

  header div {
    width: 100%;
  }

  header div img {
    max-width: 120px;
    padding-top: 5px;
    padding-left: 0px;
  }

  main div h2 {
    font-size: 32px;
    line-height: 34px;
  }
  section {
    padding: 50px 5px 25px;
  }
  section h2 {
    font-size: 28px;
    line-height: 30px;
  }
  section p {
    font-size: 16px;
    width: 85%;
  }

  article {
    width: 90%;
    flex-direction: row;
    padding-top: 20px;
  }

  .services-box {
    width: 100%;
    position: relative;
    margin-top: 30px;
  }

  .service-title {
    font-size: 16px;
    text-align: center;
  }

  .get-social-container h2 {
    font-size: 24px;
  }

  .footer-nav ul li {
    font-size: 18px;
  }

  .rental-main-title h2 {
    color: #cdcdcd;
    font-size: 22px;
    line-height: 27px;

  }

  .rental-main-title p {
    width: 85%;
    font-size: 14px;
    line-height: 16x;
  }

  #table-container {
    width: 80%;
    font-size: 16px;
    color: #fff;
  }

  .client {
    width: 25%;
    vertical-align: bottom;
    padding: 20px;
  }

}

@media screen and (min-width: 749px) {
      #toggle-button {
        display: none;
    }

    #floating-menu {
      display: none;
    }


}

@media screen and (max-width: 870px) {
  header nav ul li {
    padding-right: 20px;
  }
  }

@media screen and (min-width: 900px) {
  header nav ul li {
    font-size: 20px;
  }


}
