/* Top header area */
* {
  margin: 0;
  padding: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

body {
  background-color: #171717;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  position: fixed;
  z-index: 10;
}

header div {
  width: 30%;
  text-align: center;
}

header div img {
  max-width: 200px;
  padding-left: 20px;
}

header nav {
  width: 70%;
  text-align: right;
}

header nav ul li {
  display: inline-block;
  padding-top: 40px;
  padding-right: 40px;
  font-size: 16px;
}

/*** Main Section - About Us*/

main {
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #171717;
}

main img {
  width: 100%;
  opacity: 0.7;
}

main div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main div h2 {
  font-size: 82px;
  line-height: 84px;
  font-weight: 700;
}

/* First section **/

section {
  background-color: #171717;
  color: #fff;
  padding: 150px 25px 50px;
  width: 100%;
}

section h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.35em;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  width: 85%;
  margin: 0 auto;
}

section p {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: .4px;
  line-height: 25px;
  width: 85%;
  margin: 0 auto;
}

#satisfaction {
  background: linear-gradient(
                     rgba(20,20,20, .5),
                     rgba(20,20,20, .5)),
                     url("https://images.pexels.com/photos/2034851/pexels-photo-2034851.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  padding-top: 225px;
  padding-bottom: 225px;
}

/* Services Boxes on Home page */

article {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.services-box {
  width: 30%;
  position: relative;
  margin-top: 30px;
}

.services-box:hover {
  background-image: linear-gradient(rgba(20,20,20, .5),
  rgba(20,20,20, .5)));
  opacity: 0.7;
}

.services-image {
  width: 100%;
}

.services-image img {
  width: 100%;
}

.service-title {
  padding: 3px 20px;
  width: 100%;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}


/* Clients Section */

.client-container {
  width: 90%;
  margin: 0 auto;
}

.clients-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.35em;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 70px;
  width: 85%;
  margin: 0 auto;
  color: #fff;
  width: 80%;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.client {
  width: 12.5%;
  vertical-align: bottom;
  padding: 20px;
}

.client img {
  width: 100%;
  max-width: 125px;
}


/*  Get Social Section */

.get-social-container {
  width: 100%;
  padding: 50px 0 40px;
  text-align: center;
  background-color: #1f1f1f;
  color: #cdcdcd;
  margin-top: 100px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.35em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

#pixlee_container {
  background-color: #171717;
}


/* Footer section  */

footer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  padding-top: 70px;
  width: 100%;
  background-color: #171717;
}

.footer-social {
  width: 100%;
  padding: 50px 0 40px;
  align-items: center;
  background-color: #1f1f1f;
}

.footer-social span {
  padding: 30px;
}

.social-icon {
  width: 25px;
}

/* Footer Nav */

.footer-nav {
  padding: 65px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  line-height: 25px;
  width:  100%;
}

.footer-nav a {
  color: #cdcdcd;
}

.footer-nav p {
  padding: 25px;
  font-size: 16px;
  color: rgba(255,255,255,.4);
}

.footer-nav p a {
  color: rgba(255,255,255,.4);
}

.footer-nav ul li {
  padding-bottom: 15px;
}

/* footer contact info */

.footer-contact {
  font-size: 20px;
  padding-top: 50px;
  color: #cdcdcd;
}

.footer-contact p {
  padding: 10px;
}

.footer-email {
  text-decoration: underline;
}


.footer-copy {
  width: 100%;
  padding: 20px;
  font-size: 12px;
  min-height: 25px;
  color: rgba(255,255,255,.4);
  letter-spacing: 1px;
}

.footer-copy a {
  font-size: 10px;
  text-decoration: none;
  color: rgba(255,255,255,.4);
}

.footer-copy a:visited {
  color: rgba(255,255,255,.4);
}

#floating-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: grey;
  padding: 3px;
  width: 100%;
  text-align: left;
}

#floating-menu img {
  max-width: 30px;
}

.mail-icon {
  width: 28px;
  padding-left: 30px;
}

/* Rentals Page */

.rental-main-title {
  color: #cdcdcd;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0 50px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.rental-main-title p {
  width: 70%;
  font-size: 18px;
  line-height: 20px;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
  text-transform: none;
}



/* Table Section */

#table-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: #34495E;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding: 10px;
  border-radius: 10px;
}

.row-titles {
  color: #dd5;
}

.column-one {
  text-align: left;
}

#table-container td,
#table-container th {
  padding: 10px;
}

#table-container span {
  font-size: 14px;
  color: grey;
}

/* Contact Page */

.contact-container {
  color: #cdcdcd;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.contact-container h2 {
  padding-bottom: 50px;
}

.contact-container p {
  width: 70%;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  padding: 20px 0 10px;
  text-align: center;
  text-transform: none;
}

.form-container {
  margin-top: 40px;
}

/* Production page */

.production-video-container {
  width: 100%;
}

.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
text-align: center;
width: 80%;
margin: 0 auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}






/* Menu invisible unless bigger viewport, media query */



/* HEADER CONTAINER */

#header-container {
  width: 100%;
}

#header-container img {
  width: 100%;
}




/* Mobile nav menu --hamburger menu
------------------------------------------------------- */
.button_container:before{
    position:absolute;
    content:'';
    top:-10px;
    right:-15px;
    left:-15px;
    bottom:-10px;
    cursor: pointer;
}

.button_container {
  position: fixed;
  bottom: 50.5px;
  right: 45.5%;
  height: 21px;
  width: 37px;
  cursor: pointer;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  z-index: 999;
   transition: transform 0.25s ease;
}

.button_container:hover {
  opacity: .8;
}
.button_container.active .top {
  -moz-transition: translateY(11px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(8px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -moz-transition: translateY(-11px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background-color: #CE0281; !important;
  border: 1px solid white;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 8px;
}
.button_container span:nth-of-type(3) {
  top: 16px;
}

/* Menu Page on mobile **/

#overlay {
 -webkit-backface-visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity 5s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  -webkit-backface-visibility: hidden;
  opacity: 1;
  transition: opacity .5s;
  visibility:visible;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.9);
  transition: background .35s ease;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
  margin-bottom

}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
}

.mobile-menu-title {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 36px;
  padding-top: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #fff;
}


.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 30px;
}
.overlay ul li {
  display: block;
  height: 10px;
  height: auto;
  min-height: 30px;
  position: relative;
  opacity: 0;
  width: 100%;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
  padding-bottom: .10px;

}
.overlay ul li a:hover {
  background-color: linear-gradient(to right,#b8cbb8 0,#b8cbb8 0,#b465da 0,#cf6cc9 33%,#ee609c 66%,#ee609c 100%);
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
